unpackage/dist/
uniCloud-aliyun/cloudfunctions/ocrAnalyzeIngredients/node_modules/
uniCloud-aliyun/cloudfunctions/processIngredients/node_modules/
unpackage/resources/
uniCloud-aliyun/cloudfunctions/analyzeNutrition/node_modules/
